<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vjti.blockchain.wallet">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/logo_app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"/>
        <activity
            android:name=".QRScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AmountToBeSentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreenActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KeyGeneration.KeyGenerationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRGeneratorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RestoreWalletActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".RegisterPINActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CheckPINActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".TransactionResultActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>